*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #E5316F;
    text-align: center;
    margin: 50px auto;
}

header p{
    text-align: center;
    margin: auto 150px;
}

img{
    float: left;
    width: 80px;
}

a{
    text-decoration: none;
    color: #3DAECA;
}
/* css DEBUG */
.row{
    border: solid 5px black;
    margin: 50px 150px;
    height: 100px;
}

.col{
    float: left;
    width: calc(100% / 3);
    background-color: aquamarine;
    padding: 30px;
}

.info{
    margin-left: 20px;
    height: 80px;
}